.send-btn {
  margin: 16px 12px 20px 0px;
  background-color: transparent;
  color: var(--blue1);
  padding: 6px;
  border: none;
  cursor: pointer;
}

.send-btn:hover {
  color: var(--blue2);
}

.send-btn:active {
  color: var(--blue3);
}
