.sender-name {
  color: var(--white);
  font-weight: 400;
  padding-bottom: 2px;
}
.right-bubble-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 4px 16px;
  justify-content: right;
}

.right-bubble {
  background-color: var(--blue1);
  padding: 12px;
  color: var(--white);
  border-radius: 16px 16px 2px 16px;
  width: fit-content;
  max-width: 50%;
  transition: 400ms;
}

.message-sent {
  word-break: break-word;
  height: fit-content;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
}

.left-bubble-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 4px 16px;
  justify-content: left;
}

.left-bubble {
  background-color: var(--grey);
  padding: 12px;
  color: var(--white);
  border-radius: 16px 16px 16px 2px;
  width: fit-content;
  max-width: 50%;
  transition: 400ms;
}

@media (max-width: 992px) {
  .left-bubble,
  .right-bubble {
    max-width: 60%;
    transition: 400ms;
  }
  .left-bubble-wrapper,
  .right-bubble-wrapper {
    padding: 2px 16px;
  }
}

@media (max-width: 768px) {
  .left-bubble,
  .right-bubble {
    max-width: 70%;
    padding: 8px;
    transition: 400ms;
  }
}

@media (max-width: 576px) {
  .left-bubble,
  .right-bubble {
    max-width: 85%;
    transition: 400ms;
  }
}
