.send-btn {
  margin: 16px 16px 24px 4px;
  background-color: var(--white);
  color: var(--blue1);
  padding: 6px;
  border: none;
  cursor: pointer;
}

.send-btn:hover {
  color: var(--blue2);
}

.send-btn:active {
  color: var(--blue3);
}
