.user-info {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding: 12px;
  color: var(--grey);
  width: 98%;
  margin: 4px 2px;
  outline: solid 1px #e8e8e8;
  border-radius: 4px;
  cursor: pointer;
}

.user-info:hover {
  background-color: var(--grey3);
}

.user-info.active {
  background-color: var(--blue);
  outline: solid 1px var(--blue1);
}

.user-info-name {
  font-size: 12px;
}
.user-info-email {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 18px;
  height: 16px;
  max-width: 100vh;
  white-space: nowrap;
}
