.chat-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  border-left: 0.5px solid var(--lightgrey);
}

.chat-area-empty {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  border-left: 0.5px solid var(--lightgrey);
}

.playerLt {
  animation: cssAnimation ease-in 1.5s;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nothing-selected-text {
  font-size: 16px;
  margin-bottom: 80px;
  font-weight: 400;
  color: var(--lightgrey);
  animation: cssAnimation ease-in 1.5s;
  animation-fill-mode: forwards;
}

@media (max-width: 576px) {
  .chat-area {
    width: 100%;
    border: none;
  }
  .chat-area.invisible {
    display: none;
  }
}
