.send-message-wrapper {
  background-color: var(--white);
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px 8px 8px 8px;
  width: 70dvw;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
}

.emoji-picker-wrapper {
  right: 80px;
  bottom: 0;
  transform: translateY(-88px);
  position: absolute;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 50px;
  z-index: 10;
}

@media (max-width: 576px) {
  .emoji-picker-wrapper {
    right: 0;
    transform: translateY(-104px);
  }

  .send-message-wrapper {
    width: 100dvw;
  }
}
