.detete-image-header {
  padding-bottom: 16px;
  color: var(--grey);
}

.heading{
  color: var(--grey);
  font-size: 24px;
}

.delete-img-content{
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.delete-image-footer {
  margin: 16px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  gap: 16px;
}
