/* Color variables start here */
:root {
  --white: white;
  --blue: #e8ecfc;
  --blue0: #c9d1f8;
  --blue1: #6078ea;
  --blue2: #3957e5;
  --blue3: #1c3cd4;
  --grey: #484848;
  --grayOpaque: #484848ac;
  --grey2: #c0bfbf;
  --lightgrey: #a7a4a4;
  --grey2: #fafafa;
  --grey3: #f3f3f3;
  --turquoise: #32acd4;
}
/* Color variables end here */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
}

body {
  background-color: var(--blue1);
  color: var(--grey);
}
/* .form-container {
  background-color: var(--blue1);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .form-wrapper {
  background-color: var(--white);
  border-radius: 16px;
  width: 396px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px 48px 16px;
} */

/* .title {
  color: var(--grey);
  font-size: 24px;
  font-weight: 600;
} */

/* form {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 16px;
} */

.form-element {
  gap: 12px;
}

/* .login-link {
  font-size: 14px;
} */

p {
  color: var(--grey);
  font-size: 12px;
}

.list-of-users {
  height: 15vh;
  max-height: 50%;
  overflow-y: scroll;
  padding: 5px 0 0 0;
}

/* thread styling ends here */

/* chat styling stars here */

/* chat styling ends here */

/* modal styling starts here */
.add-btn {
  width: 60%;
  padding: 0%;
}

/* modal styling ends here */

@media (max-width: 576px) {
  .add-btn {
    width: 100%;
  }
}
