/* Color variables start here */
:root {
  --white: white;
  --blue: #e8ecfc;
  --blue0: #c9d1f8;
  --blue1: #6078ea;
  --blue2: #3957e5;
  --blue3: #1c3cd4;
  --grey: #484848;
  --grayOpaque: #484848ac;
  --grey2: #c0bfbf;
  --lightgrey: #a7a4a4;
  --grey2: #fafafa;
  --grey3: #f3f3f3;
  --turquoise: #32acd4;
}
/* Color variables end here */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
}

body {
  background: linear-gradient(
    45deg,
    #d65bad,
    var(--blue2),
    #39ade5
  );
  background-size: 400% 400%;
  animation: gradientAnimation 12s infinite linear;
  overflow: hidden;
  color: var(--grey);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.form-element {
  gap: 12px;
}

/* .login-link {
  font-size: 14px;
} */

p {
  color: var(--grey);
  font-size: 12px;
}

.list-of-users {
  height: 15vh;
  max-height: 50%;
  overflow-y: scroll;
  padding: 5px 0 0 0;
}

/* modal styling starts here */
.add-btn {
  width: 60%;
  padding: 0%;
}

/* modal styling ends here */

@media (max-width: 576px) {
  .add-btn {
    width: 100%;
  }
}
