/* Color variables start here */
:root {
  --white: white;
  --blue: #e8ecfc;
  --blue0: #c9d1f8;
  --blue1: #6078ea;
  --blue2: #3957e5;
  --blue3: #1c3cd4;
  --grey: #484848;
  --grayOpaque: #484848ac;
  --grey2: #c0bfbf;
  --lightgrey: #a7a4a4;
  --grey2: #fafafa;
  --grey3: #f3f3f3;
  --turquoise: #32acd4;
}
/* Color variables end here */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--blue1);
  color: var(--grey);
}
.formContainer {
  background-color: var(--blue1);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrapper {
  background-color: var(--white);
  border-radius: 16px;
  width: 396px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px 48px 16px;
}

.logo {
  margin: 5% 0;
  color: var(--blue1);
  font-weight: bold;
  font-size: 36px;
}
.title {
  color: var(--grey);
  font-size: 24px;
}
form {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 16px;
}

.form-element {
  gap: 12px;
}

.input-element {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

input {
  padding: 10px;
  border: 1px solid var(--lightgrey);
  border-radius: 12px;
  width: 100%;
}

label {
  display: flex;
  gap: 10px;
  color: var(--grey);
  font-size: 16px;
  cursor: pointer;
}
p {
  color: var(--grey);
  font-size: 12px;
}

nav {
  background-color: var(--grey);
  width: 100%;
}
.navbarWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 12px 16px;
  color: var(--white);
}

.logoNav {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}

.main-container {
  display:flex;
  flex-direction: column;
  background-color: var(--blue1);
  height: 100vh;
  overflow: hidden;
}

.home-body {
  display: flex;
  flex-direction: row;
  height: 100%
}

.threads-bar {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 30%;
}

.thread-header-wrapper {
  padding: 12px 16px;
  background-color: var(--white);
  color: var(--grey);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.thread-header-title {
  margin: 0 16px 0 0;
  color: var(--grey);
  font-weight: bold;
  font-size: 16px;
}

.thread-list {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  height: 100vh;
  overflow-y: scroll;
  gap: 4px;
  padding: 0 0 56px 0;
}

.single-thread {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px 16px;
  color: var(--grey);
  width: 100%;
  max-width: 100%;
}

.single-thread-header{
  font-size: 12px;
}

.single-thread-message {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 16px;
  height:16px;
  max-width: 100vh;
  white-space: nowrap;
}
.list-of-users{
  height: 15vh;
  max-height: 50%;
  overflow-y: scroll;
  padding: 5px 0 0 0;

}

.user-info {
  display: flex;
  flex-direction: column;
  padding: 8px;
  color: var(--grey);
  width: 100%;
  background-color: var(--blue);
}
.user-info-name{
  font-size: 12px;
}
.user-info-email {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 18px;
  height:16px;
  max-width: 100vh;
  white-space: nowrap;
}

.single-thread.active {
  background-color: var(--grey3);
}

.single-thread-new-message {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px 16px;
  color: var(--grey);
  width: 100%;
  max-width: 100%;
  border-left: solid 6px var(--turquoise);
  margin-left: 4px;
}

.createChatSection {
  float: right;
  width: 50%;
  padding: none;
}

/* thread styling ends here */

/* chat styling stars here */

.chat-header-wrapper {
  padding: 12px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  flex-direction: row;
}

.backBtn {
  color: var(--grey);
  margin-right: 12px;
  display: none;
}

.chat-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  border-left: 0.5px solid var(--lightgrey);
}

.chat-header-title {
  font-weight: bold;
  font-size: 16px;
}

.send-message-wrapper {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  padding: 0px 8px 16px 8px;
  transform: translateY(-48px);
}

.sendBtn {
  margin: 1%;
  background-color: var(--white);
  color: var(--blue1);
  padding: 6px;
  border: none;
  cursor: pointer;
}

.sendBtn:hover {
  color: var(--blue2);
}

.sendBtn:active {
  color: var(--blue3);
}

.messageInput {
  margin: 1%;
  padding: 10px;
  border: 1px solid var(--lightgrey);
  border-radius: 16px;
  width: 90%;
  color: var(--grey);
  font-weight: 600;
}

.bubbles-scrollable {
  background-color: var(--white);
  max-width: 100%;
  height: 100vh;
  overflow-y: scroll;
  margin-bottom: 48px;
}

.main-div {
  height: 100%;
}

.right-bubble-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 4px 16px;
  justify-content: right;
}

.right-bubble {
  background-color: var(--blue1);
  padding: 12px;
  color: var(--white);
  border-radius: 16px 16px 2px 16px;
  width: fit-content;
  max-width: 50%;
  transition: 400ms;
}

.messageSent {
  word-break: break-word;
  height: fit-content;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
}

.left-bubble-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 4px 16px;
  justify-content: left;
}

.left-bubble {
  background-color: var(--grey);
  padding: 12px;
  color: var(--white);
  border-radius: 16px 16px 16px 2px;
  width: fit-content;
  max-width: 50%;
  transition: 400ms;
}

.create-message-wrapper {
  display: flex-box;
  background-color: var(--white);
  width: 100%;
  padding: 10%;
 justify-content: center;
}

/* chat styling ends here */

/* modal styling starts here */
.add-btn {
  width: 60%;
  padding: 0%;
}

.modal-div {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  background-color: var(--grayOpaque);
}

.create-message-wrapper {
  padding: 24px;
  border-radius: 16px;
  background-color: #fafafa;
  width: 400px;
  max-height: 500px;
  margin: 12px;
}

.create-message-header {
  padding-bottom: 32px;
}

.add-receivers {
  display:block;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0 0;
}

.create-message-footer {
  display: flex;
  padding-top: 24px;
  gap: 4px;
}

.tags-container{
  width:fit-content;
}

/* modal styling ends here */

@media (max-width: 992px) {
  .left-bubble,
  .right-bubble {
    max-width: 60%;
    transition: 400ms;
  }
  .left-bubble-wrapper,
  .right-bubble-wrapper {
    padding: 2px 16px;
  }
}

@media (max-width: 768px) {
  .left-bubble,
  .right-bubble {
    max-width: 70%;
    padding: 8px;
    transition: 400ms;
  }

  .thread-header-wrapper {
    padding: 6px 16px;
  }

  .chat-header-wrapper {
    padding: 14px;
  }
}
@media (max-width: 576px) {
.home-body{
  flex-direction: column;
}

  .single-thread-header{
    font-size: 14px;
  }

  .chat-header-wrapper {
    padding: 14px;
  }
  .left-bubble,
  .right-bubble {
    max-width: 85%;
    transition: 400ms;
  }
  .create-message-footer {
    flex-direction: column-reverse;
    gap: 0px;
  }
  .add-btn {
    width: 100%;
  }

  .threads-bar {
    width: 100%;
  }

  .chat-area {
    width: 100%;
    /* flex-grow: 5; */
    border: none;
  }
  .chat-area.invisible {
    display: none;
  }

  .backBtn {
    display: inline-block;
  }
}
