.home-container {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  height: 100dvh;
  overflow: hidden;
  overflow: clip;
}

.home-body {
  display: flex;
  flex-direction: row;
  height: stretch;
}

.home-all-contents {
  height: 100%;
}
