form {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 16px;
}

.form-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  background-color: var(--white);
  border-radius: 16px;
  width: 396px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px 48px 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.title {
  color: var(--grey);
  font-size: 24px;
  font-weight: 600;
}

.button-link-text {
  font-size: 12px;
  font-weight: 600;
  color: var(--grey);
  cursor: pointer;
  text-decoration: underline;
  cursor: pointer;
  display: inline;
  height: auto;
  padding: 0;
  border: none;
  background-color: inherit;
}

.button-link-text:hover {
  color: var(--blue1);
}